[Unit]
Description=SubZero Framework fan control service

[Service]
Type=notify
ExecStart=/usr/local/bin/SubZeroFramework.Service
Restart=always
RestartSec=5
KillSignal=SIGINT
SyslogIdentifier=subzeroframework-service
User=root
WorkingDirectory=/usr/local/lib/subzeroframework
Environment=DOTNET_ENVIRONMENT=Production
Environment=DOTNET_NOLOGO=true
TimeoutStopSec=90

[Install]
WantedBy=multi-user.target
